@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600;700&display=swap');

// h font-family: ‘Marko One’, serif;
// body font-family: 'Raleway', sans-serif;
// Global
$primaryPink: #F7CAC7;
$primaryBlue: #99CEE3;
$primaryGreen: #9CCA89;
$primaryYellow: #F9D85F;
$primaryGrey: #E8EDE5;
$primaryBrown: #360719; // the  color for the fonts


body {
  color:$primaryBrown;
}


h2 {
  font-family: 'Marko One', serif;
  font-size: 4.5em;
  padding-top: 150px;
}

h3, p {
  font-family: 'Raleway', sans-serif;
}


.hero {
  background-image: url(./images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  padding-bottom: 200px;

  .navbar-left {
    a.navbar-brand {
      color: white;
      font-family: 'Marko One', serif;
    }
  }
  .navbar-right {
    a.navbar-brand {
      color: white;
      font-size: 0.9em;
    }
  }
  

  h2 {
    font-family: 'Marko One', serif;
    font-size: 4.5em;
    padding-top: 150px;
  }

  p {
    font-size: 2em;
  }
}

// Index page hero section

.row {
  .index-hero-img {
    background-image: url(./assets/indexpagehero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
  }
  .index-hero-txt {
    background-color:$primaryGrey; //placeholder colour
    text-align: center;
    padding: 100px;
    p {
      padding: 20px;
    }
  }
  
}
// Index page API section

// buttons row
.buttons-row.row {
    .shop-drinks.col {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 36px;
  }

  .sorting-buttons.col-6 {
    display: flex;
    justify-content: flex-start;
  }

  .dropdown.col {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

}

//filters on the left
.left-filters {
  .flter-col-top {
    display: flex;
    justify-content: space-between;
  }
  // position: fixed;
  margin-right: 30px;
  top: top;
  max-width: 25%;
  background-color: $primaryGrey;
  font-family: 'Raleway', sans-serif;



  .checkbox-list {
    display: inline-flex;
    /* vertical-align: middle; */
    flex-direction: column;
    align-items: flex-start;
  }
}

// api display section on the right
.right-api {
  // overflow-y: scroll;
  .row {
    justify-content: space-between;
  }
  .card {
    max-width: 300px;
    margin-bottom: 30px;
  }
}
// Index footer
.index-footer {
  background-color: $primaryYellow;
}
