@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

// font-family: ‘Marko One’, serif;
$primaryPink: #F7CAC7;
$primaryBlue: #99CEE3;
$primaryGreen: #9CCA89;
$primaryYellow: #F9D85F;
$primaryGrey: #E8EDE5;


.hero {
  background-image: url(./images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  padding-bottom: 200px;

  .navbar-left {
    a.navbar-brand {
      color: white;
      font-family: 'Marko One', serif;
    }
  }
  .navbar-right {
    a.navbar-brand {
      color: white;
      font-size: 0.9em;
    }
  }
  
  h2 {
    font-family: 'Marko One', serif;
    font-size: 4.5em;
    padding-top: 150px;
  }

  p {
    font-size: 2em;
  }
}



div.navbar-left {
  font-family: ‘Marko One’, serif;
  
}


div.show.container-fluid {
  
  font-family: 'Marko One', serif;
  max-width: 70rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  
}
div.img-text.row {
  margin: 0;
  padding: 0;
}

div.image-col.col {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure.image.figure { 
  margin: 0;
  padding: 0;
  
}
.figure-img {
  margin: 0;
 
}

div.title.container {
  
  color: black;
  background-color: #F7CAC7;
  margin: 0;
  padding-top: 2rem;
}

div.right.col {
  
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



div.content.container {
  background-color: #99CEE3;
  margin: 0;
  padding-top: 2rem;
  color: white;
}
p.description {
  font-family: sans-serif;
}

p.averageRating {
  padding-top: 1.5rem;
}

div.buttons.container-fluid {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-family: sans-serif;
    
}
button.btn.btn-outline-light {
  margin-right: 10px;
}

div.footer.container-fluid {
  background-color: #E8EDE5;
  margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    padding: 15rem;
    
}
